.button{
  padding: 20px 30px;
  text-align: center;
  font-size: 14px;
  background-color: #4da6ff;
  border: 1px solid navy;
  color: black;
}

.button:hover {
  background-color: navy;
  color: white;
}

header {
  text-align: center;
  background-color: #4da6ff;
  border: 2px solid navy;
  margin-bottom: 20px;
}

#QuestionBox {
  text-align: center;
}

#Answers {
  margin-bottom: 20px;
}

#NewQuestion {
  margin: 20px;
}

body {
  background-color: #99ccff;
  border: 2px solid navy;
}

#Answers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width:768px){
  #Answers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
