.button{
  padding: 20px 30px;
  text-align: center;
  font-size: 14px;
  background-color: #4da6ff;
  border: 1px solid navy;
  color: black;
}

.button:hover {
  background-color: navy;
  color: white;
}

header {
  text-align: center;
  background-color: #4da6ff;
  border: 2px solid navy;
  margin-bottom: 20px;
}

#QuestionBox {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

#Answers {
  margin-bottom: 20px;
}

#NewQuestion {
  margin: 20px;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

body {
  background-color: #99ccff;
  border: 2px solid navy;
}

#Answers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreLabel {
  width: 15%;
  border: 2px solid navy;
  margin: 15px;
}

.score {
  font-size: 24px;
}

#Answers > button {
  width: 40%;
  text-align: center;
}

@media screen and (min-width:768px){
  #Answers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
  }

  #Answers > button {
    width: 15%;
  }
}
